<div>
    <ng-template #locRef></ng-template>
</div>

<div class='form-group'>

    <label for="location">Location</label>
    <input type="text" (focus)='showLocation()' id='location' class='form-control' [(ngModel)]='city'>

</div>


<div class='form-group'>

    <label for="srch">Search Donar</label>

    <input type="search" id='srch' [(ngModel)]='bloodGroup' (blur)='change()' class='form-control'>

    <button [disabled]='isDisabled' class='btn btn-danger' (click)='find()'>Search</button>

</div>

<div>

    <p>Donar For : {{bloodGroup}}</p>
    <p>{{donarDetails}}</p>
</div>