<div class='row' class='findPanel'>
    <div class='col-md-5'>

        <h2>Search Donar</h2>
        <div class='form-group'>

            <label for="location">Location</label>
            <input type="text" (focus)='showLocation()' id='location' class='form-control' [(ngModel)]='city'>

        </div>


        <div class='form-group'>

            <label for="srch">Blood  Group</label>

            <input type="search" id='srch' [(ngModel)]='bloodGroup' (blur)='change()' class='form-control'>

            <button [disabled]='isDisabled' class='btn btn-danger' (click)='find()'>Search</button>

        </div>

    </div>
    <div class='col-md-7'>

        <div>
            <ng-template #locRef></ng-template>
        </div>

        <div>
            <p>Donar For : {{bloodGroup}}</p>
            <p>{{donarDetails}}</p>
        </div>
    </div>
</div>