<div class='container' style='display: flex;flex-direction: column'>
    <div>
        <app-header></app-header>
    </div>
    <div>
        <app-content></app-content>
    </div>
    <div>
        <app-footer></app-footer>
    </div>
</div>

<div>
    <app-show-donars></app-show-donars>
</div>

<div>

    <app-find-donar></app-find-donar>

</div>

<div>
    <app-search-hospital></app-search-hospital>
</div>

<div>
    <app-camp-details></app-camp-details>
</div>

<div>

    <app-login></app-login>
    <app-logout></app-logout>
</div>
<router-outlet>


</router-outlet>