<div class='form-group'>
    <div>User Name : </div>
    <input type='text' class='form-control' [readonly]='editable' [(ngModel)]='loggedUser.userName'>
</div>
<div class='form-group'>
    <div>Pass Word :</div>
    <input type='text' class='form-control' [readonly]='editable' [(ngModel)]='loggedUser.passWord'>
</div>
<div class='form-group'>
    <div>Email :</div>
    <input type='email' class='form-control' [readonly]='editable' [(ngModel)]='loggedUser.email'>
</div>
<div class='form-group'>
    <div>Mobile Number :</div>
    <input type='text' [readonly]='editable' [(ngModel)]='loggedUser.mobileNumber'>
</div>

<button (click)='makeEditable()'>Edit Profile</button>