<div>


    <!-- form>(div[class='form-group']>(label+input[class='form-control']))*5 -->
    <form #frm="ngForm" (ngSubmit)='submit()' ngNativeValidate>
        <div class="form-group">
            <label for="">Id</label>
            <input type="text" class="form-control" name='id' [(ngModel)]='request.id'>
        </div>
        <div>

            <label for="">Required Group</label>
            <input type="text" class="form-control" name='reqGroup' [(ngModel)]='request.reqGroup' required>
        </div>
        <div>

            <label for="">Required Date</label>
            <input type="date" class="form-control" name='reqDate' [(ngModel)]='request.reqDate'>
        </div>
        <div>

            <label for="">Required Hospital</label>
            <input type="text" class="form-control" name='reqHospital' [(ngModel)]='request.reqHospital' required>
        </div>
        <div>

            <input type="submit" class="btn btn-info" [value]='btnText'>
        </div>
    </form>
    {{request | json}}
</div>
<div>
    <table class='table table-striped'>
        <tr>
            <td>Search By Group</td>
            <td><input type="text" name="" id="" [(ngModel)]='srchGroup'></td>
        </tr>
        <tr>
            <th>Id</th>
            <th>Required Group</th>
            <th>Required Date</th>
            <th>Hospital Name</th>

        </tr>
        <tr *ngFor="let eachRequest of requestList | filter:'reqGroup':srchGroup">

            <td>{{eachRequest.id}}</td>
            <td>{{eachRequest.reqGroup | uppercase}}</td>
            <td>{{eachRequest.reqDate | date:'medium'}}</td>
            <td>{{eachRequest.reqHospital}}</td>
            <td><button class="fa fa-2x fa-remove" (click)='remove(eachRequest)'></button></td>
            <td> <button class='fa fa-2x fa-edit' (click)='update(eachRequest)'></button></td>
        </tr>
    </table>
</div>