<table class='table table-striped'>

    <tr *ngFor="let eachDonar of donarList">
        <td>{{eachDonar.id}}</td>
        <td>{{eachDonar.name}}</td>
        <td>{{eachDonar.bloodGroup}}</td>
        <td>{{eachDonar.mobileNumber}}</td>
        <td><a [routerLink]="['/donar',eachDonar.id]">Donation History</a></td>

    </tr>
</table>


{{details | json}}
<div>
    <div></div>
    <div></div>
</div>
<!-- <div>
    Id: {{dummy.data.id}} name: {{dummy.data.first_name}}
    <img src={{dummy.data.avatar}}>
</div> -->