<app-future-camps></app-future-camps>
<app-past-camps></app-past-camps>

<div class='row'>
    <div class='col-md-6' style='background-color:gray'>
        <h2>Upcoming Blood Donation Camps</h2>
        <ul>
            <li *ngFor='let eachItem of futureCamp'>{{eachItem}}</li>
        </ul>

    </div>
    <div class='col-md-6' style='background-color: lightgray'>
        <h2>Camps Conducted By Us </h2>


        <ul>
            <li *ngFor='let eachItem of pastCamps'>{{eachItem}}</li>
        </ul>
    </div>
</div>